@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes colorChange {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: yellow;
  }
  100% {
    color: red;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes backgroundColorChange {
  0% {
    background-color: #f06d06; /* Example color - orange */
  }
  25% {
    background-color: #f0d800; /* Yellow */
  }
  50% {
    background-color: #04c2c9; /* Cyan */
  }
  75% {
    background-color: #6500c0; /* Purple */
  }
  100% {
    background-color: #f06d06; /* Back to orange */
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.background-animate {
  animation: backgroundColorChange 10s ease infinite;
}

.blink {
  animation: blink 1s linear infinite;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: scroll 10s linear infinite, colorChange 2s linear infinite;
}



